include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        section.first-scroll 
            .navbar
                .logo
                    img(src="assets/images/logo.png", alt="")
                .menu
                    a(href="") Главная 
                    a(href="") Модельный ряд
                    a(href="") Специально для Вас 
                    a(href="") Акции 
                    a(href="") Сервис 
                    a(href="") Услуги 
                    a(href="") О компании 
                .search-panel
                    input(type="text" placeholder="Поиск")
                button.btn.callback Обратная связь
            .wrapper.slider.owl-carousel
                .item(style="background-image: url('/assets/images/main-slider/60535de257d2755dc68d5a21.jpg')")
                    .container
                        .col
                            span NEW CITY ELITE
                            h1 <b>TIGGO 8</b>PRO
                            p ОТ 1 869 900 ₽ | РАССРОЧКА ОТ 0%*
                            .btn-wrapper
                                button.btn Пройти тейст драйв
                                button.btn.white Подробнее
                            .watermark TIGGO 8PRO
                .item(style="background-image: url('/assets/images/main-slider/3054627.jpg')")
                    .container
                        .col
                            span OLD CITY ELITE
                            h1 <b>TIGGO 4 </b>
                            p ОТ 1 139 900 Р  ₽ | РАССРОЧКА ОТ 0%*
                            .btn-wrapper
                                button.btn Пройти тейст драйв
                                button.btn.white Подробнее
                            .watermark TIGGO 4
            .navs

        section.lineup
            .container
                .title-wrapper
                    h2.title
                        span lineup
                        |Модельный ряд
                    .navs
            .slider.owl-carousel
                .item
                    .container
                        .image-col
                            img(src="/assets/images/models/8pro2.png", alt="")
                        .col
                            h3 
                                span NEW CITY ELITE
                                |TIGGO 8PRO
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aliquam ipsam omnis eius neque voluptatum nobis saepe harum. Dolores nisi quas officia vel a consectetur quo, necessitatibus perspiciatis magni accusantium.
                            button.btn Подробнее
                    .watermark TIGGO 8PRO
                .item
                    .container
                        .image-col
                            img(src="/assets/images/models/tiggo4.png", alt="")
                        .col
                            h3 
                                span OLD CITY ELITE
                                |TIGGO 4
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aliquam ipsam omnis eius neque voluptatum nobis saepe harum. Dolores nisi quas officia vel a consectetur quo, necessitatibus perspiciatis magni accusantium.
                            button.btn Подробнее
                    .watermark TIGGO 4
        section.callback
            .container
                .form-wrapper
                    h2.title
                        span callback
                        |Оставьте заявку
                    .input-wrapper
                        label Выберите модель
                        select(name="model")
                            option(value="") TIGGO 8 Pro  
                            option(value="") TIGGO 4  
                    .input-wrapper
                        label Ваше имя
                        input(type="text")
                    .input-wrapper
                        label Ваш телефон
                        input(type="text")
                    .input-wrapper
                        label Коментарий
                        textarea(name="", cols="30", rows="10") 
        section.service
            .container
                h2.title
                    span service
                    |Сервисное обслуживание
                .wrapper
                    .item
                        img(src="/assets/images/icons/calculator.png", alt="").icon
                        span Калькулятор технического обслуживания
                    .item
                        img(src="/assets/images/icons/wrench.png", alt="").icon
                        span Все о ТО
                    .item
                        img(src="/assets/images/icons/service.png", alt="").icon
                        span Акции по обслуживанию авто
                    .item
                        img(src="/assets/images/icons/road.png", alt="").icon
                        span Помощь на дороге
                    .item
                        img(src="/assets/images/icons/spanner.png", alt="").icon
                        span Техосмотр
                    .item
                        img(src="/assets/images/icons/guarantee.png", alt="").icon
                        span Гарантийный ремонт
                    .item
                        img(src="/assets/images/icons/gear.png", alt="").icon
                        span Запчасти
                    .item
                        img(src="/assets/images/icons/handshake.png", alt="").icon
                        span Корпоративным клиентам
                    .item
                        img(src="/assets/images/icons/car.png", alt="").icon
                        span Хранилище шин
            .watermark service


        include pug/scripts.pug