body
{
    margin: 0;
    color: #000;
    background: #fff;
    //font-family: 'Roboto', sans-serif;
    font-family: 'Exo 2', sans-serif;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.btn
{
    height: 55px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #ed1d24;
    border: none;
    border-radius: 3px;
    text-align: center;
    padding: 0 15px;
    min-width: 200px;
    font-family: 'Exo 2', sans-serif;
}

.btn.white
{
    background: #fff;
    color: #000;
}

section 
{
    padding: 45px 0;
}

section.first-scroll .watermark
{
    content: 'TIGGO 8PRO';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-size: 125px;
    font-weight: 900;
    letter-spacing: 20px;
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
}

.navs
{
    

    button
    {
        width: 70px;
        height: 50px;
        font-size: 0;
        position: relative;
        border: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }

    button:hover
    {
        background: rgba(0, 0, 0, 0.8);
    }

    button:after
    {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 32px;
        height: 32px;
    }

    button.owl-prev:after
    {
        background: url(../images/icons/left-arrow.png);
    }

    button.owl-next:after
    {
        background: url(../images/icons/right-arrow.png);
    }

}

section.first-scroll 
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;

    .wrapper
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item
        {
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
            background-size: cover;
            background-position: center;

            .btn-wrapper
            {
                .btn.white
                {
                    margin-left: 15px;
                }
            }
        }

        .container
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #fff;

            .col
            {
                padding: 45px;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 3px;
            }

            h1
            {
                font-size: 70px;
                font-weight: 300;
                margin: 0;
            }

            span
            {
                letter-spacing: 10px;
                color: #ed1d24;
                font-size: 14px;
                font-weight: 700;
            }

            p
            {
                margin-top: 25px;
                margin-bottom: 45px;
                font-size: 18px;
            }
        }
    }

    .navs
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    }
    
}

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    background: rgb(35,31,32);
    background: linear-gradient(180deg, rgba(35,31,32,0.7) 0%, rgba(255,255,255,0) 90%);

    .logo img
    {
        width: 80px;
    }

    .menu 
    {
        display: flex;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
    }

    .menu a
    {
        padding: 10px 5px;
        margin: 0 20px;
        position: relative;
    }

    .menu a:after
    {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 0%;
        transition: 0.3s;
        height: 2px;
        background: #ed1d24;
    }

    .menu a:hover:after
    {
        width: 100%;
    }

    .search-panel
    {
        input
        {
            text-align: right;
            height: 40px;
            font-size: 15px;
            background: none;
            border: none;
            border-bottom: 1px solid #ed1d24;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            font-family: 'Exo 2', sans-serif;
        }

        input::placeholder
        {
            color: #fff;
        }
    }
}

.title
{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 3px;
    position: relative;

    span
    {
        color: #ed1d24;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
    }
}

.title:after
{
    content: '';
    height: 1px;
    width: 100vw;
    right: calc(100% + 25px);
    top: 0;
    bottom: 0;
    margin: auto;
    background: #bebbbf;
    position: absolute;
}

section.lineup
{
    padding-top: 90px;

    .title-wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        .title
        {
            margin: 0;
        }

        .navs
        {
            .owl-next
            {
                margin-left: 15px;
            }

            button
            {
                background: none;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }

            button:hover
            {
                border: 1px solid rgba(0, 0, 0, 0.5);
            }

            button:after
            {
                filter: invert(100%);
            }
        }
    }

    .slider
    {
        padding: 40px 0;
        h3
        {
            display: flex;
            flex-direction: column;
            font-size: 40px;
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 3px;
            margin: 0;

            span
            {
                color: #ed1d24;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 3px;
            }
        }

        .item
        {
            position: relative;

            .watermark
            {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: -1;
                display: flex;
                align-items: center;
                padding-right: 40px;
                font-size: 250px;
                font-weight: 800;
                letter-spacing: 20px;
                opacity: 0.05;
            }

            .container
            {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .image-col
            {
                width: 65%;

                img
                {
                    width: 100%;
                }
            }

            .col
            {
                width: 35%;
                padding: 20px;

                p
                {
                    color: grey;
                    line-height: 25px;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }
            }
        }
    }
}

section.callback
{
    background: url(../images/bg/P90304528_highRes_nuerburgring-ger-12t.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 80%;

    .container
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .title:after
        {
            content: none;
        }
    }

    .form-wrapper
    {
        background: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 3px;

        .input-wrapper
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;

            label
            {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 400;
            }

            select, input
            {
                height: 45px;
                padding: 0 15px;
                font-family: 'Exo 2', sans-serif;
                font-size: 16px;
                border: none;
            }

            textarea
            {
                border: none;
            }

            select, input, textarea
            {
                border-bottom: 2px solid #ed1d24;
            }
        }
    }
}

section.service
{
    position: relative;

    .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item
        {
            width: 340px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 25px;
            padding: 25px;
            border: 1px solid #bebbbf;
            transition: 0.5s;

            .icon
            {
                margin-bottom: 25px;
            }

            span
            {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .item:hover
        {
            border-color: #ed1d24;
        }
    }

    .watermark
    {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 250px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 30px;
        color: #ed1d24;
        z-index: -1;
        opacity: 0.05;
    }
}



@import 'responce';